[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.6"
python-dotenv = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-taggit = "*"
pillow = "*"
django-ckeditor = "*"
django-embed-video = "*"
djangorestframework = "*"
beautifulsoup4 = "*"
gunicorn = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
boto3 = "*"
django-storages = "*"
django-heroku = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-mptt = "*"

[dev-packages]

[requires]
python_version = "3.9"
