[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.4"
python-dotenv = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-taggit = "*"
pillow = "*"
django-ckeditor = "*"
django-embed-video = "*"
djangorestframework = "*"
beautifulsoup4 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
