{% extends 'accounts/_accounts_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Забыли Свой Пароль?{% endblock title %}


{% block accounts_content %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Забыли свой пароль?</h4>
        <p>Введите свой e-mail, чтобы получить новый пароль.</p>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}

            <button  type="submit"  class="btn btn-primary btn-block">Сбросить пароль</button>
        </form>
    </div>
</div>
{% endblock accounts_content %}