{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}
<section class="row">

    <section class="latest section">
      <div class="container">
        <div class="row">
          <img class="col-md-5 col-sm-5 col-xs-12 img-responsive pull-left rounded-circle" src="{% static 'images/profile.png' %}" alt="Vadym Pashynskyi"/>

          <div class="col-md-7 col-sm-7 col-xs-12 pull-left">
            <h1 class="name">Vadym Pashynskyi</h1>
            <h2 class="desc">Python Web Developer</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span> Location:</span> Киев, Украина</li>
                <li><i class="fa fa-phone"></i><span> Phone:</span> 063-743-10-88</li>
                <li><i class="fa fa-envelope"></i><span> Email:</span> vadym.is.pashynskyi@gmail.com</li>
            </ul>
            <ul class="list-inline">
                <li><i class="fa fa-facebook"></i><span > - </span><a href="https://www.facebook.com/profile.php?id=100014867027947">Мой Facebook</a></li>
                <li><i class="fa fa-linkedin"></i><span > - </span><a href="https://www.linkedin.com/in/vadym-pashynskyi-a989bb1b2/">Мой Linkedin</a></li>
                <li><i class="fa fa fa-github"></i><span > - </span><a href="https://github.com/Vadym-Hub/Django_portfolio">Код проекта на GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="latest section">
      <div class="section-inner">
        <div class="content">

          <div class="item featured text-center">
                <h2 ><a>Сайт портфолио</a></h2>
                <p class="summary">"Надо много учиться, чтобы осознать, что знаешь мало." (Мишель де Монтень)</p>
                <div class="featured-image">
                    <div class="desc text-center">
                        <p>
                            Привет всем посетителям моего сайта. Меня зовут Вадим и я начинающий python разработчик.
                            Я решил собрать все свои учебные проекты в одном месте. Приложения старался подбирать разные
                            по смысловой нагрузке. Получилось вот такое забавное портфолио с образцом кода на
                            <a href="https://github.com/Vadym-Hub/Django_portfolio">GitHub (тыць сюда)</a>.
                            Ошибки исправляю по мере их нахождения, поетому если Вы найдете
                            их пожалуйста напишите мне. Буду признателен и за дельные советы и за code review))).
                        </p>
                        <p>
                            Бекенд написан на Django 3.1 с использованием Bootstrap (в некоторых темплейтах есть и верстка).
                            API реализуется на Django Rest Framework.
                            Классическая архитектура Django была переделана.
                            Сайт задеплоен на heroku. Есть настройки как для стандартного деплоя так и через контейнеры Docker.
                            В качестве БД используется PostgreSQL. Виртуальное окружение поднято через Pipenv,
                            для настроек под деплой используются переменные окружения поетому файлов local и prod нету...
                        </p>
                        <p>
                            Сейчас добиваю соцсеть и переписую под REST API. После прикручу чат. В дальнейшем планирую подтянуть JS и
                            окончательно разделить бекенд и фронтенд (избавиться от bootstrap, переписать фронт на чтото посерьезней).
                            В общем посмотрим.
                        </p>
                    </div><!--//desc-->
                </div><!--//item-->
            <hr class="divider" />
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'blog:article_list' %}" target="_blank">БЛОГ</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Все начинают с блога :-)</p>
                    <p>Реализовано вывод постов по времени добавления и по категориям, а также поиск по публикациям.
                        Просматривать посты могут все. Написать статью могут только
                        зарегестрированные пользователи. Оставлять комментарии могут только авторизированые пользователи.
                        Есть общий подсчет постов по категориям.
                    </p>
                    <p>
                        Автор может вывести  свои публикации, редактировать, удалять и отключать к ним комментарии,
                        также связывать их между собой.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'products:product_list' %}" target="_blank">ИНТЕРНЕТ МАГАЗИН</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Покупатель может просматривать все товары или фильтровать по категориям.
                    </p>
                    <p>
                        Особенность проекта в реализации корзины и заказа.
                        Модель корзины не описана в БД, а создается виртуально и привязана к сессии конкретного покупателя,
                        что сильно уменьшает количество запросов к БД.
                        Добавление в корзину реализавано как отдельный сервис и не вписано как метод модели товара.
                        В корзине реализован подсчет товара, подсчет суммы за товар одинакового типа и общая сумма заказа.
                    </p>
                    <p>
                        После добавления в корзину можно оформить заказ оставив данные в форме заказа.
                        Оформленный заказ получает свой, уникальный номер, добавляется в БД и обрабатывается менеджером в ручную.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'crm:lead-list' %}" target="_blank">CRM (Customer Relationship Management)</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Система управления взаимоотношениями с клиентами
                    </p>
                    <p>
                        Каждый зарегистрированный пользователь является организацией.
                        Организация создает агентов по продаже и лидов, завязанных на конкретной организации.
                        Лиды выводятся таблицей где есть личная инфо лида, закрепленный за ним агент и статус его
                        обработки (новый, связались, согласился, отказал).
                    </p>
                    <p>
                        Организации выводятся нераспределенные лиды его организации
                        в виде карточек с возможньостью закрепления за ними агентов по продажам.
                        Организация может видеть статистику подсчетов обработанных лидов.
                    </p>
                    <p>
                        Каждый агент может пригласить своих агентов, тем самым став организацией внутри организации
                        тем самым расширяя сеть. Агенту на почту приходит письмо с паролем, чтоб войти на сайт.
                        Пароль генерируется автоматически и рандомно. Система для регистрации использует django сигнал.
                        В общем этакий принцип пирамиды.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'scraping:vacancy_find' %}" target="_blank">СКРАППИНГ СЕРВИС</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Сервис по сбору вакансий (парсер).</p>
                    <p>
                        Раз в сутки сервис собирает вакансии с других сайтов по ключам город-язык программирования, добавляет в БД и делает рассылку
                        всем, зарегестрированным пользователям, кто подписался на рассылку и имеет в профиле
                        выбраный город и язык программирования.
                        Поиск реализован по вакансиям, добавленным в БД сервисом.
                    </p>
                    <p>
                        В данный момент рассылка отключена так как почта для разсылок бесплатная и годится только для тестирования.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'travels:home' %}" target="_blank">ПУТЕШЕСТВЕННИК</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Сайт по поиску маршрута по заданным параметрам (Проект из курсов на которых я познакомился с Django).</p>
                    <p>
                        Особенность проекта в использовании теории графов для поиска и прокладки маршрутов.
                        Также здесь есть четко поставленное ТЗ, что реально круто)))
                    </p>
                    <p>
                        Задание:
                        Поиск маршрута перемещения из одной точки в другую. Задача делится
                        на 3 части - населенные пункты, поезда, маршруты.
                    </p>
                    <p>
                        Населенные пункты:
                        Реализовать добавление, редактирование, удаление населенного пункта, а также постраничный
                        просмотр всех доступных населенных пунктов. У населенного пункта есть лишь название.
                    </p>
                    <p>
                        Поезда:
                        Реализовать добавление, редактирование, удаление поезда, а также постраничный просмотр
                        всех доступных поездов. У поезда есть уникальный код (название), начало маршрута,
                        конец маршрута и время в пути в условных единицах. Из одной точки в другую может быть
                        несколько поездов, но они должны отличаться по времени в пути.
                    </p>
                    <p>
                        Маршруты:
                        Пользователь выбирает начальный и конечный пункт маршрута, а также указывает
                        максимальное время в пути. Также пользователь может добавить сколь угодно промежуточных
                        городов, через которые должен пролегать маршрут. Ему загружаются подходящие под условия маршруты.
                        Возле каждого маршрута должна быть кнопка, позволяющая сохранить данный маршрут, задав ему имя.
                        При поиске маршрутов, необходимо обращать внимание на направление движения поезда.
                    </p>
                    <p>
                        Вывод результатов:
                        Вывод маршрутов сортируется по наименьшему времени в пути.
                        Т.е. первым отображается маршрут, с наименьшим временем в пути.
                        Описание маршрута должно содержать информацию о том, откуда и куда ведет этот маршрут,
                        время в пути, а также содержать список всех поездов, которые есть в этом маршруте с указанием
                        номера поезда, откуда\куда и времени в пути. В случае, если маршрут не найден,
                        вывести сообщение - "Маршрута удовлетворяющего условиям поиска не существует".
                        Если же, заданное время в пути меньше, чем минимальное время маршрута,
                        тогда сообщение "Время в дороге больше выбранного Вами. Измените время."
                    </p>
                    <p>
                        Сохраненные маршруты:
                        Должна быть отдельная страница с просмотром маршрутов. Маршрут можно только сохранить,
                        посмотреть и удалить. Редактировать сохраненный маршрут нельзя.
                    </p>
                    <p>
                        Доступ к сайту:
                        Доступ к добавлению\редактированию Поездов\Городов, а также удалению любых записей,
                        должен быть только у зарегистрированных пользователей.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <h3 class="title col-md-4 col-sm-4 col-xs-12"><a href="{% url 'lms:course_list' %}" target="_blank">LMS (Learning Management System)</a></h3>

                <div class="desc col-md-8 col-sm-8 col-xs-12 text-left">
                    <p>Платформа для электронного обучения.</p>
                    <p>
                        Особенность етого проекта в универсальной модели данных которая хранит разные материалы модуля курса.
                    </p>
                    <p>
                        Раздел предметы, заполняет администратор с админки и создает группу инструктора.
                        Курс делится на модули.
                        Каждый модуль может иметь неограниченое количество материлала
                        (материал делится на категории text, video, file, image).
                        Редактировать и удалять курс может только владелец курса.
                        Создавать курс может только User с правами инструктора.
                        Просматривать список курсов может каждый. Курсы также выводятся списком или по предметам.
                        Просматривать курс может только тот студент, который записался на курс.
                        Студентом может быть только зарегестрированный пользователь.
                        Розделение прав реализовано через permission_required.
                    </p>
                </div><!--//desc-->
            </div><!--//item-->
          </div><!--//content-->
        </div><!--//section-inner-->
      </div>
    </section><!--//section-->

</section><!--//row-->
{% endblock content %}