{% extends '_base.html' %}
{% load category_tag %}
{% load static %}


<title>Shop</title>


<!-- Navigation -->
{% block navigation %}
  <li class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Категории
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {% get_categories as categories %}
      {% for category in categories %}
        <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </li>

  <li class="nav-item">
    {% with total_items=cart|length %}
      {% if total_items > 0 %}
        <a class="nav-link" href="{% url 'orders:cart' %}"> Корзина:
          <span class="badge badge-pill badge-danger">товаров: {{ total_items }} {{ total_items|pluralize }}, цена: {{ cart.get_total_price }}грн.</span>
        </a>
      {% else %}
        Ваша корзина пуста.
      {% endif %}
    {% endwith %}
  </li>
{% endblock navigation %}


{% block content %}
<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3 mt-5">
      <div class="list-group">
        <a>todo: сделать сайтбар с выводом ттх</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">

    {% block shop_content %}
    {% endblock shop_content %}
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}


{% block script %}
<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock script %}
