{% extends 'lms/_lms_base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {% if object %}
        Редактировать контент "{{ object.title }}"
    {% else %}
        Добавить новый контент
    {% endif %}
{% endblock %}

{% block lms_content %}

<div class="card col-8 mb-5 mt-5">
  <div class="card-body">
    <h1 class="card-title ">
        {% if object %}
            Редактировать контент "{{ object.title }}"
        {% else %}
            Добавить новый контент
        {% endif %}
    </h1>
    <div class="container">
      <form action="" method="post"enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Сохранить контент</button>
      </form>
    </div>
  </div>
</div>
{% endblock lms_content %}