{% extends '_base.html' %}
{% load lms_tag %}
{% load static %}

{% block title %}LMS{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'plugins/elegant_font/css/style.css' %}">
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="{% static 'css/styles_lms.css' %}">
{% endblock css %}


{% block navigation %}
  <li class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> Предметы </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{% url 'lms:course_list' %}">Все</a>
      {% get_subjects as subjects %}
      {% for s in subjects %}
      <a class="dropdown-item" href="{% url 'lms:course_list_by_subject' s.slug %}">{{ s.title }} {{ s.courses.count }}</a>
      {% endfor %}
    </div>
  </li>

  {% if user.is_authenticated %}
  <li class="nav-item dropdown">
    <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> Кабинет </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{% url 'lms:student_course_list' %}">Кабинет студента</a>
      <a class="dropdown-item" href="{% url 'lms:manage_course_list' %}">Менеджер курсов</a>
    </div>
  </li>
  {% endif %}

{% endblock navigation %}


{% block content %}
<div class="container">
    {% block lms_content %}
    {% endblock lms_content %}
</div>
{% endblock content %}
