{% extends '_base.html' %}

{% block title %}CRM{% endblock title %}


{% block navigation %}
  {% if not request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'accounts:signup' %}">Создать организацию</a>
    </li>>
  {% else %}
    {% if request.user.is_organisor %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crm:agent-list' %}">Агенты по продажам</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crm:lead-list' %}">Лиды</a>
      </li>>
  {% endif %}
{% endblock navigation %}


{% block content %}
<div class="container">
    {% block crm_content %}
    {% endblock crm_content %}
</div>
{% endblock content %}



